/* EARTH */
.earth {
  position: absolute;
  right: 20px;
  top: 165px;
}

/* ROCKET */
.rocket-body, 
.rocket-body-flying
 {
  position: absolute;
  height: 40px;
  right: 148px;
  top: 220px;
  z-index: -2;
}
.rocket-body-flying {
  animation: rocketFly 480s linear;
}

@keyframes rocketFly {
  from { right: 148px; }
  to { right: 4000px; }
}

.rocket-flame,
.rocket-flame-flying  {
  position: absolute;
  height: 20px;
  right: 125px;
  top: 230px;
  z-index: -2;
}
.rocket-flame-flying {
  animation: fuelBurning 1s infinite, flameFly 480s linear;
}

@keyframes flameFly {
  from { right: 125px; }
  to { right: 4000px; }
}

@keyframes fuelBurning {
  50% { transform: scale(1.2); }
}

.rocket-smoke, 
.rocket-smoke-flying
 {
  opacity: 0;
  position: absolute;
  height: 80px;
  right: 134px;
  top: 200px;
  z-index: -3;
}
.rocket-smoke-flying {
  animation: launchSmoke 10s normal forwards;
}

@keyframes launchSmoke {
  0% { opacity: 0; }
  20%{ opacity: 1; }
  100% { opacity: 0; }
}