/* EARTH */
.earth {
  position: absolute;
  right: 20px;
  top: 170px;
}

/* ROCKET */
.rocket-body, 
.rocket-body-flying
 {
  position: absolute;
  height: 40px;
  right: 148px;
  top: 225px;
  z-index: -2;
}
.rocket-body-flying {
  animation: rocketfly 480s linear;
}

@keyframes rocketfly {
  from { right: 148px; }
  to { right: 4000px; }
}

.rocket-flame,
.rocket-flame-flying  {
  position: absolute;
  height: 20px;
  right: 125px;
  top: 235px;
  z-index: -2;
}
.rocket-flame-flying {
  animation: fuelburning 1s infinite, flamefly 480s linear;
}

@keyframes flamefly {
  from { right: 125px; }
  to { right: 4000px; }
}

@keyframes fuelburning {
  50% { transform: scale(1.2); }
}

.rocket-smoke, 
.rocket-smoke-flying
 {
  opacity: 0;
  position: absolute;
  height: 80px;
  right: 134px;
  top: 206px;
  z-index: -3;
}
.rocket-smoke-flying {
  animation: launchsmoke 10s normal forwards;
}

@keyframes launchsmoke {
  0% { opacity: 0; }
  20%{ opacity: 1; }
  100% { opacity: 0; }
}