/* GENERAL */
body {
  background-image: url("../images/background/background.png");
  background-color: #321240;
  background-repeat: no-repeat;
  background-position: top left;
  position: relative;
  z-index: -999;
  font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bree Serif", serif;
}

/* Hero content */
#website-input {
  background-color: transparent;
  width: 50%;
  border: none;
  border-bottom: 3px solid white;
  color: white;
  box-shadow: none;
  font-family: "Bree Serif", serif;
}

#website-input:focus {
  outline: none;
}

#launch-button:hover {
  animation: heartBeat .4s infinite;
}

@keyframes heartBeat {
  50% { transform: scale(1.1); }
}

.disappear {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear;
}

/* Details block */
.details {
  opacity: 0;
}

/* Success block */
#success,
#next-steps-content {
  padding-top: 1em;
}

.light-speed:hover {
  color: #3273dc;
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}

.appear {
  animation: 2s linear forwards fadeIn;
}

/* Details block */
#derp-bench-image {
  width: 70%;
}

.input-opaque {
  opacity: .8;
}