/* GENERAL */
/* Background */
body {
  background-image: url("../images/background/background.png");
  background-color: #321240;
  background-repeat: no-repeat;
  background-position: top left;
  position: relative;
  z-index: -999;
}

/* Launch button */
#button-launch-wrapper {
  padding-top: 1.5em;
}

#button-launch:hover {
  animation: heartBeat .4s infinite;
}

@keyframes heartBeat {
  50% { transform: scale(1.1); }
}

.disappear {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear;
}

#success {
  opacity: 0;
  padding-top: 2em;
}

@keyframes fadein {
    0% { opacity:0; }
    100% { opacity:1; }
}

.appear {
  animation: 2s linear forwards fadein;
}

.next-step-title:hover {
  cursor: pointer;
  animation: smallHeartBeat 4s infinite;
}

@keyframes smallHeartBeat {
  50% { transform: scale(1.07); }
}

#next-steps-titles,
#help-content,
#derp-bench-content {
  opacity: 0;
}

.show {
  animation: 1s linear forwards fadein;
}

.light-speed:hover {
    color: #3273dc;
}